+++
title = "CloudCore DevOps"
linkTitle = "CloudCore DevOps"

+++

{{< blocks/cover title="Welcome to CloudCore DevOps" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5"><b>A guide to doing DevOps the Releaseworks way!</b></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
CloudCore DevOps is a resource for engineers and technology leaders to learn about the latest engineering techniques to help you deliver better software faster.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-cloud" title="Cloud Engineering" %}}
CloudCore DevOps is a cloud native approach to software delivery.

Learn the best practices and tooling to run your applications in the cloud.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-cogs" title="Deployment Automation" url="https://github.com/google/docsy-example" %}}
Find out the latest techniques in deployment automation to help you on your journey to Continuous Delivery.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-git-alt" title="Trunk Based Development" url="https://twitter.com/docsydocs" %}}
Learn how to structure your git projects to avoid hitting integration crunch.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Need additional support for your digital transformation?</h1>
</br>
<h3 class="text-center">Releaseworks offers a number of tailor made support packages to accelerate your DevOps Journey.</h3>
</div>



{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-cloud" title="Releaseworks Propel" %}}
Build your team’s internal capabilities in DevOps and cloud technologies by placing our experts to work alongside your people.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cloud" title="Releaseworks Catapult" %}}
Launch a new cloud platform and build a Site Reliability Engineering function in 16 weeks.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cloud" title="Releaseworks Reroute" %}}
Need to change your DevOps or platform direction? We can help.
{{% /blocks/feature %}}


{{< /blocks/section >}}